<div class="container">
	<form class="mt-2">
		<div class="row centrar">
			<div class="col-lg-6">
				<h2 style="font-family: Arial, Helvetica, sans-serif;">Calculadora operaciones Básicas</h2><br>
				<div class="calculadora p-4">
					<div class="row mb-1">
						<div class="mt-1 col-lg-9">
							<input type="text" class="form-control text-right visor" name="display"
								[value]="display" readonly>
						</div>
						<div class="col-lg-3">
							<button type="button" (click)="limpar()" class="btn btn-danger ">C</button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('7')">7</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('8')">8</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('9')">9</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-warning" (click)="definirOperacao('/')">/</button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('4')">4</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('5')">5</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('6')">6</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-warning" (click)="definirOperacao('*')">*</button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('1')">1</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('2')">2</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('3')">3</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-warning" (click)="definirOperacao('-')">-</button>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('0')">0</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-secondary" (click)="adicionarNumero('.')">.</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-igual" (click)="calcular()">=</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-warning" (click)="definirOperacao('+')">+</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>